.App {
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  background-color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: gray;
  padding: 25px;
  display: grid;
  grid-auto-flow: column;
}

#new-resource-aside {
  display: grid;
  align-items: center;
  justify-items: right;
}

button {
  border: 1px solid black;
  padding: 10px;
  border-radius: 8px;
  max-width: 200px;
  max-height: 50px;
  background-color: azure;
}

button:hover {
  box-shadow: 1px 1px 10px black;
}

th {
  border: 1px solid gray;
  padding: 5px
}

.Index h1 {
  text-align: center;
  font-size: x-large;
}

#logo {
  cursor: pointer;
}

.Transaction {
  width: 100%;
  background-color: aliceblue;
  padding: 5px;
  color:gray;
}

.Transaction .Info {
  display: grid;
  grid-auto-flow: column;
}

.Transaction .Cost {
  text-align: right;
}

ul {
  padding: 0;
  margin-left: 15%;
  margin-right: 15%;
}

a {
  color:rgb(0, 179, 255);
}

#logo a, button a {
  color: black;
  text-decoration: none;
}

.TransactionNew {
  margin-left: 10%;
  margin-right: 10%;
}

form {
  display: grid;
  grid-auto-flow: row;
}

form div {
  display: grid;
  margin-bottom: 15px;
}

.TransactionView {
  text-align: center;
  border: 1px solid black;
}

.TransactionView button {
  margin: 10px;
}

#modal {
  background-color: rgba(0, 0, 0, 0.575);
  position: absolute;
  width: 100vw;
  height: 100%;
  z-index: 1;
  text-align: center;
  color: white;
}

#modal button {
  margin: 5px;
}

.hidden {
  display: none;
}


@media screen and (max-width: 500px){
  .App {
    margin-left: 8%;
    margin-right: 8%;
  }

  nav {
    padding: 10px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: large;
  }

  button {
    font-size: x-small;
  }

  ul {
    margin-left: 5%;
    margin-right: 5%;
  }
}

@media screen and (max-width: 300px) {
  h1, h2, h3, h4, h5, h6 {
    max-width: 100px;
  }
}